{% extends "base.html" %}

{% load nvd3_tags %}
{% block css %}
    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleDate.css' %}" />
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock %}

{% block title %}
             <h1>Proyecto: {{proyecto.nombreProyecto}}</h1>
{% endblock %}

{% block content %}
    {% include_container chartcontainer 400 700 %}
{% endblock %}

{% block boton %}
    <a href="{% url 'visualizacionIndex' proyecto.nombreProyecto %}" class="btn">Regresar</a>
{% endblock %}